birth_year = int(input("Please put your four digits birth year:  "))
if birth_year >= 2013:
    print("You are a member of Generation alpha")
elif birth_year >= 1997:
    print("You are a member of Generation Z")
elif birth_year >= 1981:
    print("You are a millenial")
elif birth_year >= 1965:
    print("You are a member Generation X")
elif birth_year >= 1946:
    print("You are a baby boomer")
else:
    print("Error, please enter a valid four digits year, 1946 or later")
